/* reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* set principale */

body{
  background-color: rgba(246,248,249,255);
}

.intestazione{
  background-color: white;
}

h1{
  display: inline-block;
  font-size: 30px;
}

/* set nav e main*/

.back{
  max-width: 1300px;
  margin: 20px auto;
  padding: 40px 25px;
  background-color: white;
}

/*nav*/

nav{
  background-color: white;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

button{
  text-align: center;
  font-size: 1em;
  border-radius: 10px 10px;
  line-height: 35px;
  padding: 5px 20px;
}

#task{
  background-color: rgba(71,173,241,255);
  border: none;
}

#add-section{
  background-color: white;
  color: gray;
  border: grey solid;
  margin-left: 3px;
}

/*main*/

main{
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
}

li{
  list-style: none;
}

/* section task list */
.arrow{
  font-size: .5em;
}

li h1{
  font-size: 1em;
}

ul{
  margin-top: 30px;
}

li {
  font-size: 25px;
  margin-top: 15px;
}

.check-no{
  color: green;
  border: solid;
  border-radius: 50%;
}

.red{
  color: red;
}

/* info words */

.info-word{
  font-size: .5em;
  border-radius: 10px 10px;
  padding: 5px 20px;
}

.blue-word{
  background-color: rgba(71,173,241,255);
}

.violet-word{
  background-color: rgba(156,114,228,255);

}

.green-word{
  background-color: rgba(100,192,169,255);
}

.orange-word{
  background-color: rgba(242,158,51,255);
}

.pink-word{
  background-color: rgba(216,99,161,255);
}














