/* reset */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* set principale */

body{
  background-color: rgba(246,248,249,255);
}

/* intestazione */

.intestazione{
  background-color: white;
}

h1{
  display: inline-block;
  font-size: 50px;
}

/* nav*/

nav, .back{
  padding-left: 55px;
  max-width: 2000px;
  margin: 0 auto;
}

main, .back{
  margin-top: 10px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 40px 25px;
}


nav{
  background-color: white;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

button{
  text-align: center;
  font-size: 2em;
  border-radius: 10px 10px;
  line-height: 65px;
  padding: 5px 20px;
}

#task{
  background-color: rgba(71,173,241,255);
  border: none;
}

#add-section{
  background-color: white;
  color: gray;
  border: grey solid;
  margin-left: 3px;
}

.arrow{
  font-size: 1em;
}

/* section task list */

li{
  list-style: none;
}

ul{
  margin: 10px 10px;
}












